header {
    width: auto;
    background-color: orangered;
    padding: 30px;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li a{
    text-decoration: none;
    color: black; 
}

.section {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.sub1 {
    background-color: blanchedalmond;
    height: 180px;
    border-radius: 5px;
    float: left;
    margin: 5px;
}

h3 {
    text-align: center;
    border-bottom: 2px solid burlywood;
    padding-bottom: 10px;
}

p {
    padding-left: 10px;
}

.sub2 {
    border: 2px solid black;
    height: 400px;
}

@media screen and (max-width : 480px) {
    .section {
        width: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr)
    }
}